.h-10-mt-3 {
    height: 15vh;
    margin-top: 3vh;
    padding-top: 1%;
  }

  .dashboard {
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.05);
  }
.h {
    height: auto;
}

.li-dashboard {
    font-weight: bold;
    font-size: larger;
    color: #1976d2;
}

.li-dashboard:hover {
    transform: scale(1.1);
}