<div class="toolbar" role="banner">
  <ul class="d-flex">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/detail">Details</a></li>
    <li><a routerLink="/produit">Produit</a></li>
    <li><a routerLink="/details-produits">Details Produits</a></li>
    <li><a routerLink="/graph">Graph</a></li>
    <li><a routerLink="/connexion">connexion</a></li>
  </ul>
</div>
<div class="Dashboard w-100 h-10 mt-100 border">
  <ul class="d-flex justify-content-between px-5 pt-3 list-unstyled">
    <li ></li>
  </ul>
</div>




