/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family:Verdana, Geneva, Tahoma, sans-serif }
.--primary-blue-title {
    color: #1976d2;
  }

  .shadow-medium-shade {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  }

  .--warning-color {
    color: #ff8800;
  }

  .--bg-primary-blue {
    background-color: #1976d2;
  }

  .--bg-primary-blue:hover {
    background-color: #1976d2;
  }